extends ../head2

block body
    div.robust-content.content.container-fluid
      div.content-wrapper
        div.content-header.row
          div(class="content-header-left col-md-6 col-xs-12")
            h3(class="content-header-title mb-0") Студент
          div(class="content-header-lead col-xs-12 mt-1")
        .content-body
                .row
                    .col-sm-6
                        .card
                            .card-header
                                .row
                                    .col-md-8
                                        h4.card-title.no-capitalize Информация
                                    .col-md-4
                                        button#edit.btn-in-table.btn.px-1.btn-secondary.float-xs-right(data-edit="disable" title="Редактировать")
                                            i.btn-i-hack.icon-edit(style="margin-right:0.5rem")
                                            |Редактировать

                                //h4.card-title Информация
                            .card-body.collapse.in
                                .card-block.card-dashboard
                                    .row
                                        .table-responsive
                                            table.table.table-borderless
                                                tbody
                                                    tr
                                                        td ФИО:
                                                        td
                                                            a.editable.edit_text(href="#" data-name="title")= student.name
                                                    tr
                                                        td Группа:
                                                        td
                                                            a.editable.edit_text(href="#" data-name="department")= student.student.group.title
                                                    tr
                                                        td Кафедра:
                                                        td
                                                            a.editable.edit_text(href="#" data-name="department")= student.student.group.department
                                                    tr
                                                        td Телефон:
                                                        td
                                                            if (student.phone)
                                                                a.editable.edit_textarea(href="#" data-name="specialty")= student.phone
                                                            else
                                                                a.editable.edit_textarea.editable-empty(href="#" data-name="specialty")
                                                    tr
                                                        td Почта:
                                                        td
                                                            if (student.email)
                                                                a.editable.edit_textarea(href="#" data-name="specialty")= student.email
                                                            else
                                                                a.editable.edit_textarea.editable-empty(href="#" data-name="specialty")

                    .col-sm-6
                        .card
                            .card-header
                                .row
                                    .col-md-8
                                        h4.card-title.no-capitalize Результаты контрольных работ
                                    //.col-md-4
                                        button#edit.btn-in-table.btn.px-1.btn-secondary.float-xs-right(data-edit="disable" title="Редактировать")
                                            i.btn-i-hack.icon-edit(style="margin-right:0.5rem")
                                            |Редактировать

                            .card-body.collapse.in
                                .card-block.card-dashboard
                                    .row.mt-2
                                        #tests_answers_table.col-md-12

                .row
                    .col-lg-12
                        .card
                            .card-header
                                .row
                                    .col-md-8
                                        h4.card-title.no-capitalize Самостоятельная работа

                            .card-body.collapse.in
                                .card-block.card-dashboard
                                    .row.mt-2
                                        #questions_answers_table.col-md-12
block append footer
    script.
        var user_id = '#{student.id}';

    script(src="/robust-assets/js/components/modal/components-modal.js" type="text/javascript")

    script(src="/robust-assets/js/plugins/forms/spinner/jquery.bootstrap-touchspin.js" type="text/javascript")
    script(src="/robust-assets/js/plugins/forms/validation/jqBootstrapValidation.js" type="text/javascript")
    script(src="/robust-assets/js/plugins/forms/icheck/icheck.min.js" type="text/javascript")
    script(src="/robust-assets/js/plugins/forms/toggle/bootstrap-switch.min.js" type="text/javascript")
    script(src="/robust-assets/js/plugins/forms/toggle/switchery.min.js" type="text/javascript")

    script(src="/robust-assets/js/components/forms/validation/form-validation.js" type="text/javascript")

    script(src="/js/pages/students/show.js" type="text/javascript")
    script(src="/js/pages/questions_answers/table.js" type="text/javascript")
    script(src="/js/pages/tests_answers/table.js" type="text/javascript")
