if (clients.length == 0)
    p Нет банкоматов
else
    thead
        tr
            th ФИО
            th Номер телефона
            th Текущий баланс
            th Неснимаемый баланс
            th
    tbody
        each client in clients
            tr 
                td #{client.name}
                td #{client.phone}
                td #{client.current_balance}
                td #{client.min_balance}
                td
                    a.client_info.btn.btn-info.btn-sm(href='/clients/'+'#{client.id}' title="Подробнее")
                        i.fa.fa-info
