extends ../head

block body
    div#page-wrapper
        div#page-inner
            div.row
                div.col-md-10.col-md-offset-1
                    h1.page-header Клиент
            div.row
                div.col-md-5.col-md-offset-1
                    div.panel.panel-default
                        div.panel-heading
                            h4 Информация о клиенте
                        div.panel-body
                            div.table-responsive
                                table(style="width:100%")
                                    tbody
                                        tr
                                            td(style="padding-bottom:10px") Название
                                            td(style="padding-bottom:10px") #{client.name}
                                        tr
                                            td(style="padding-bottom:10px") Телефон
                                            td(style="padding-bottom:10px") #{client.phone}
                                        tr
                                            td(style="padding-bottom:10px") Номер карты
                                            td(style="padding-bottom:10px") #{client.card_number}
                                        tr
                                            td(style="padding-bottom:10px") Текущий баланс 
                                            td(style="padding-bottom:10px") #{client.current_balance}
                                        tr
                                            td(style="padding-bottom:10px") Номер счета 
                                            td(style="padding-bottom:10px") #{client.account_number}
                                        tr
                                            td(style="padding-bottom:10px") Неснимаемы остаток по счету
                                            td(style="padding-bottom:10px") #{client.min_balance}
                                        tr
                                            td(style="padding-bottom:10px") Банк
                                            td(style="padding-bottom:10px") 
                                                a(href='/banks/'+'#{client.bank.uid}') #{client.bank.name}
                div.col-md-5
                    div#div_atm_info.panel.panel-default
                        div.panel-heading
                            h4 Новая операция
                        div.panel-body
                            form#add_money_transaction(role="form")
                                div.form-group
                                    label Номер банкомата
                                    input#atm_id.form-control(name="atm_uid")
                                div.form-group
                                    label Сумма
                                    input#sum.form-control(name="sum")
                                div.form-group
                                    label Тип операции: снятие наличных
                                div.form-group(style="display:none")
                                    input.form-control(name="bank_id" value='#{client.bank.uid}')
                                div.form-group(style="display:none")
                                    input.form-control(name="bank_name" value='#{client.bank.name}')
                                div.form-group(style="display:none")
                                    input.form-control(name="type" value='cash_out')
                                div.form-group(style="display:none")
                                    input.form-control(name="client_name" value='#{client.name}')

                                a#btn_add_money_transction.btn.btn-success Выполнить

                div.col-md-10.col-md-offset-1
                    div.panel.panel-default
                        div.panel-heading
                            h4 Иcтория операций
                        div.panel-body
                            div.table-responsive
                                table#transaction_history.table-striped(style="width:100%")


block footer
    script.
        client_id='#{client.id}'
    script(src="/js/pages/clients/show.js")
    script(src="/js/pages/clients/mt_table.js")
    //script(src="/js/pages/clients/clients_table.js")
