extends ../head2

block body
    div.robust-content.content.container-fluid
      div.content-wrapper
        div.content-header.row
          div(class="content-header-left col-md-6 col-xs-12")
            h3(class="content-header-title mb-0") Контрольное мероприятие "#{check_point.title}"
          div(class="content-header-lead col-xs-12 mt-1")
        .content-body
                .row
                    .col-sm-6
                        .card
                            .card-header
                                .row
                                    .col-md-8
                                        h4.card-title.no-capitalize Информация
                                    .col-md-4
                                        if (profile.permissions.CheckPoint.update)
                                            button#edit.btn-in-table.btn.px-1.btn-secondary.float-xs-right(data-edit="disable" title="Редактировать")
                                                i.btn-i-hack.icon-edit(style="margin-right:0.5rem")
                                                |Редактировать

                                //h4.card-title Информация
                            .card-body.collapse.in
                                .card-block.card-dashboard
                                    .row
                                        .table-responsive
                                            table.table.table-borderless
                                                tbody
                                                    tr
                                                        td Название:
                                                        td 
                                                            a.editable.edit_text(href="#" data-name="title")= check_point.title
                                                    tr
                                                        td Тип:
                                                        td
                                                            if (check_point.type == 'test')
                                                                | Контрольная работа
                                                            else if (check_point.type == 'exam')
                                                                | Экзамен
                                                            else if (check_point.type == 'attestation')
                                                                | Зачет (Аттестация разделов)
                                                    tr
                                                        td Дата начала:
                                                        td= moment(check_point.start).format('DD.MM.YYYY HH:mm')
                                                    tr
                                                        td Дата окончания:
                                                        td= moment(check_point.end).format('DD.MM.YYYY HH:mm')
                                                    tr
                                                        td Группы:
                                                        td= check_point.groups.map(x => x.group.title).join(', ')
                                                    tr
                                                        td Описание:
                                                        td 
                                                            a.editable.edit_text(href="#" data-name="title")= check_point.description

                .row
                    .col-sm-8
                        .card
                            .card-header
                                .row
                                    .col-md-8
                                        h4.card-title.no-capitalize Варианты
                            .card-body.collapse.in
                                .card-block.card-dashboard
                                    .row#variants_drag_area
                                        each tc in check_point.test_cases
                                            if (tc.title != 'extra')
                                                .col-lg-4.variant_container.m-1.p-1
                                                    h5= tc.title
                                                    ul.variant.list-group.list
                                                        each q in tc.questions
                                                            li.list-group-item(data-id=q.question.id)= q.question.title + " (С: " + q.question.complexity + ")"

                                        .col-lg-4.variant_container.m-1.p-1
                                            h5 Ji
                                            ul.variant.list-group.list
                                                li.list-group-item test



block append footer
    script.
        var check_point_id = '#{check_point.id}';

    script(src="/js/pages/check_points/show.js" type="text/javascript")
