extends ../head2

block body
    div.robust-content.content.container-fluid
      div.content-wrapper
        div.content-header.row
          div(class="content-header-left col-md-6 col-xs-12")
            h3(class="content-header-title mb-0") Контрольный вопрос "#{question.title}"
          div(class="content-header-lead col-xs-12 mt-1")
        .content-body
                .row
                    .col-sm-6
                        .card
                            .card-header
                                .row
                                    .col-md-8
                                        h4.card-title.no-capitalize Информация
                                    .col-md-4
                                        if (profile.permissions.Question.update)
                                            button#edit.btn-in-table.btn.px-1.btn-secondary.float-xs-right(data-edit="disable" title="Редактировать")
                                                i.btn-i-hack.icon-edit(style="margin-right:0.5rem")
                                                |Редактировать

                                //h4.card-title Информация
                            .card-body.collapse.in
                                .card-block.card-dashboard
                                    .row
                                        .table-responsive
                                            table.table.table-borderless
                                                tbody
                                                    tr
                                                        td Название:
                                                        td 
                                                            a.editable.edit_text(href="#" data-name="title")= question.title
                                                    tr
                                                        td Тип:
                                                        td
                                                            if (question.query_type == 'RA')
                                                                | Реляционная алгебра
                                                            else if (question.query_type == 'TC')
                                                                | Исчисление на кортежах
                                                    tr
                                                        td Запрос к базе данных на естественном языке:
                                                        td 
                                                            a.editable.edit_textarea(href="#" data-name="text")= question.text
                                                    tr
                                                        td Ответ на языке SQL:
                                                        td 
                                                            a.editable.edit_textarea(href="#" data-name="sql_answer")= question.sql_answer
                                                    tr
                                                        td Подсказка:
                                                        td 
                                                            if (question.help) 
                                                                a.editable.edit_textarea(href="#" data-name="help")= question.help
                                                            else
                                                                a.editable.edit_textarea(href="#" data-name="help")
                                                    tr
                                                        td Сложность вопроса:
                                                        td #{question.complexity}
                                                    tr
                                                        td База данных:
                                                        td 
                                                            a(href="/databases/" + question.database.id)= question.database.title
                                                    tr
                                                        td Описание базы данных:
                                                        td #{question.database.description}
                                        .div
                                            if (profile.permissions.Database.sql)
                                                button#sql_right_answer_btn.btn.btn-info.mr-1.float-xs-right(type="button")
                                                    //i.icon-check2
                                                    | Выполнить SQL




                    .col-sm-6
                        .card
                            .card-header
                                 h4.card-title.no-capitalize Схема базы данных
                                 .heading-elements
                                     ul.list-inline.mb-0
                                         li
                                             //a(data-action="expand" title="Развернуть")
                                                 i.icon-expand2(style="color:#373a3c margin-right:0.5rem")
                                             a.btn-in-table.btn.px-1.btn-secondary.float-xs-right( data-action="expand" title="Развернуть" style="padding-top:0.2rem; padding-bottom:0.2rem")
                                                 i.icon-expand2(style="color:#373a3c; margin-right:0.5rem")
                                                 | Развернуть
                            .card-body.collapse.in
                                .card-block.card-dashboard
                                    #db_schema_div.text-xs-center
                                        i.fa.fa-spin.fa-spinner
                                        &nbsp; Подождите...
                        .card
                            .card-header
                                h4.card-title.no-capitalize Просмотр результата SQL
                                //.heading-elements
                                    ul.list-inline.mb-0
                                        li
                                            a(data-action="expand")
                                                i.icon-expand2
                            .card-body.collapse.in
                                .card-block.card-dashboard
                                    p.courier_new#sql_right_answer_text(style="white-space:pre-line")= question.sql_answer
                                    #sql_right_answer_data
                                        .text-xs-center
                                            i.fa.fa-spin.fa-spinner
                                            &nbsp; Подождите...



block append footer
    script.
        var question_id = '#{question.id}';
        var db_id = '#{question.database.id}';
        var right_answer_data = !{JSON.stringify(question.right_answer_data)};

    script(src="/robust-assets/js/components/modal/components-modal.js" type="text/javascript")

    script(src="/robust-assets/js/plugins/forms/spinner/jquery.bootstrap-touchspin.js" type="text/javascript")
    script(src="/robust-assets/js/plugins/forms/validation/jqBootstrapValidation.js" type="text/javascript")
    script(src="/robust-assets/js/plugins/forms/icheck/icheck.min.js" type="text/javascript")
    script(src="/robust-assets/js/plugins/forms/toggle/bootstrap-switch.min.js" type="text/javascript")
    script(src="/robust-assets/js/plugins/forms/toggle/switchery.min.js" type="text/javascript")

    script(src="/robust-assets/js/components/forms/validation/form-validation.js" type="text/javascript")



    script(src="/js/pages/questions/show.js" type="text/javascript")
    //script(src="/robust-assets/js/plugins/tables/jquery.dataTables.min.js" type="text/javascript")
    //script(src="/robust-assets/js/plugins/tables/datatable/dataTables.bootstrap4.min.js" type="text/javascript")
    //script(src="/robust-assets/js/plugins/tables/datatable/dataTables.buttons.min.js" type="text/javascript")
    //script(src="/robust-assets/js/plugins/tables/datatable/buttons.bootstrap4.min.js" type="text/javascript")
    //script(src="/robust-assets/js/plugins/tables/jszip.min.js" type="text/javascript")
    //script(src="/robust-assets/js/plugins/tables/pdfmake.min.js" type="text/javascript")
    //script(src="/robust-assets/js/plugins/tables/vfs_fonts.js" type="text/javascript")
    //script(src="/robust-assets/js/plugins/tables/buttons.html5.min.js" type="text/javascript")
    //script(src="/robust-assets/js/plugins/tables/buttons.print.min.js" type="text/javascript")
    //script(src="/robust-assets/js/plugins/tables/buttons.colVis.min.js" type="text/javascript")

    //script(src="/robust-assets/js/components/tables/datatables-extensions/datatable-button/datatable-button-basic.js" type="text/javascript")

  
